<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>

        <title>Blogging App-Homepage</title>

</head>

<body>
    <%- include('partials/navbar.ejs') %>
       <div class="container mt-3 mb-3 d-flex flex-wrap gap-3">
  <% blogs.forEach(blog => { %>

    <div class="card" style="width: 18rem;">
      <img src="<%= blog.coverImageURL %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= blog.title %></h5>
        <a href="/blog/<%= blog._id %>" class="btn btn-primary">Read</a>
      </div>
    </div>

  <% }) %>
</div>
        <%- include('partials/script.ejs') %>
</body>

</html>